<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highest Number!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <H1 class="title">ENTER THE HIGHEST NUMBER IN ORDER TO WIN</H1>



    <h1>Biggest number is{{x}}</h1>    <h1>Name:{{y}}</h1>


    <form action="" method="post">

    <div class="container">

    <input class="numbers" type="number" name="number" placeholder="Enter the number">
    <input class="names" type="text" name="name" id="" placeholder="Enter your name">
            
    </div>


    <button class="btn">Submit</button>

    </form>
    
    

    
</body>
</html>